body {
  margin: 0;
}

#charity-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  max-width: 100rem;
  margin: auto;
  padding: 1rem;
}

.faq-section {
  padding: 1rem;
  margin: auto;
  max-width: 70rem;
}

.faq-section h1{
    font-size: 3rem;
    text-align: center;
    color: #0F6222;
    margin: 3px;
  }

#wiki-box {
  border: solid black thin;
  height: 30rem;
  padding: 1rem;
  overflow: scroll;
  background-color: white;
}

.header-image-2 {
  background-image: url("../img/FAQhero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #999;
  background-size: cover;
}

#hero-image-faq{
    height: 50vh;
}

#wiki-box p{
  font-size: 1rem;
}

button{
    background-color: white;
    border-color: #dbdbdb;
    border-width: 2px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 2px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 2px);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    -webkit-appearance: none;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    width: 100%;
    margin: 0.25rem;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

footer {
  padding: 0.1rem 0rem;
  color: white;
  text-align: center;
}

